@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Poppins', 'Arial', Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-image: linear-gradient(60deg, black 0%, white 100%);
}
a{
    text-decoration: none;
}

/*INFORMATIONS ==> PRESENTATION*/
.infoHome{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*NAVEGATION ==> PRESENTAION*/
.navMenu{
    min-height: 20vh;
    width: 100%;
    position: fixed;
    animation: text_review_menu 3s ease-in forwards;
    animation-delay: 4s;
    opacity: 0%;
    z-index: 2;
}
.navMenu ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 15px 0;
    background-color: black; 
    font-size: 1.5em;
    list-style-type: none;
    border-bottom: solid 1px #FB5607; 
}
.navMenu a{
    color: #FB5607;
}
.navMenu a:hover{
    font-weight:300;
    color: black;
    background-color: #FB5607;
    border-radius: 1px;
    padding: 15px 100px;
}

/*SECTION OF PRESENTATION*/
#presentation{    
    min-height: 100vh;
    background-image: url(../images/Background6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#presentation h1{
    display: block;
    width: fit-content;
    font-size: 6rem;
    position: relative;
    color: transparent;
    animation: text_review 0.5s ease forwards;
}
#presentation h1:nth-child(1){
    animation-delay: 1.5s;
}
#presentation h1:nth-child(2){
    animation-delay: 2.5s;
}
#presentation h1:nth-child(3){
    animation: text_review_name 0.5s ease forwards;
    animation-delay: 3.5s;
}
#presentation h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;    
    animation: text_review_box 1s ease;    
    background-color: #FB5607;
}
#presentation h1:nth-child(1) span{
    animation-delay: 1s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 2s;
}
#presentation h1:nth-child(3) span{
    animation-delay: 3s;
}
#presentation .infoHome .cta{
    display: inline-block;
    padding: 10px 15px;
    margin: 25px 0;  
    color: #FB5607;
    background-color: black;
    border: solid #FB5607 2px;
    font-size: 3rem;
    letter-spacing: .2rem;  
}
#presentation .infoHome .cta:hover{
    font-weight: 200;
    color: black;
    background-color: #FB5607;
}
#presentation::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
}

/*SECTION OF PROFILE*/
#profile{
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 0px 0;
    background-color: rgb(240, 240, 240);
}

.profile-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 55px; /*Espaço para encaixar barra de navegação*/
}

.profile-section header{    
    font-size: 2.5em;
    padding-bottom: 10px;
    color: #FB5607;
    text-shadow: 1px 0.5px black;
}

.profile-section article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
}

.profile-section .info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
} 
.profile-section .info h3{
    font-size: 3em;
    text-shadow: 0.5px 1.5px #fb5407cf;
} 
.profile-section .info h4{
    font-size: 1.5em;
    margin-top: -7px;
} 
.profile-section .info p{
    font-size: 1.3em;
    margin-top: 10px;
    text-align: justify;
}
.profile-section .info a{
    font-size: 1.3em;
    margin-top: 10px;
    color: #FB5607;
}

.profile-section .img{
    flex-basis: 50%;   
    overflow: hidden;
    position: relative;
    width: 100%;
}
.profile-section .img img{
    transition: 1.5s ease transform;
    height: 250px;
    width: 100%;  
    object-fit: cover;
}
.profile-section article:hover .img img{
    transform: scale(1.1);
}

/*SECTION OF SOCIAL MEDIA*/
#socialMedia{
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
    padding: 0px 0;
    background-color: rgb(240, 240, 240);
    margin-top: 50px;
    padding-bottom: 30px;  
}
#socialMedia header h2{
    display: flex;
    font-size: 3.5em;
    padding: 55px 0 0px;
    justify-content: center;
    color: #FB5607;
    text-shadow: 1px 0.5px black;
}
#socialMedia header p{
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    justify-content: center;
    color: black;
    text-shadow: 0.5px 0.5px 1px #FB5607;
    margin-bottom: 30px;
}
#socialMedia .medias ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#socialMedia .medias img{
    height: 50px;
}

/*SECTION OF SOCIAL MEDIA*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    background-color: black;
    color: wheat;
    padding: 20px 100px;
}

/*SECTION OF KEYFRAMES PRESENTAION*/
@keyframes text_review_menu{
    0%{        
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes text_review_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_review{
    100%{
        color: white;
        text-shadow: 0.5px 0.5px black;
    }
}
@keyframes text_review_name{
    100%{
        color: #FB5607;        
        text-shadow: 1px 1px black;
    }
}

/* MEDIA QUERY - RESPONSIVE SCREENS */
@media only screen and (min-width: 780px){
    .profile-section article{       
        flex-direction: row;
        height: 450px;
        width: 80%;
        margin: 2px;
        border-radius: 3px;
    }
    .profile-section .info{       
        height: 100%;
    }
    .profile-section .img{       
        height: 100%;
     }
     .profile-section .img img{       
        height: 100%;
     }
     .profile-section article:nth-child(odd){       
        flex-direction: row-reverse;
    }
}
@media only screen and (max-width: 780px){
    .navMenu{
        font-size: 0.8em;
    }
    .navMenu a:hover{
        font-weight:300;
        color: black;
        background-color: #FB5607;
        border-radius: 1px;
        padding: 15px 3px;
    }
}
/*AJUSTE PARA MOBILE*/
@media only screen and (max-width: 500px){
       html{
        font-size: 7px;
    }
}