@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Poppins', 'Arial', Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.altLang{
    min-height: 10vh;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
}
.infoHome{
    min-height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*SECTION OF PRESENTATION*/
#presentation{    
    min-height: 100vh;
    background-image: url(../images/Background6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#presentation h1{
    display: block;
    width: fit-content;
    font-size: 6rem;
    position: relative;
    color: transparent;
    animation: text_review 0.5s ease forwards;
}
#presentation h1:nth-child(1){
    animation-delay: 1.5s;
}
#presentation h1:nth-child(2){
    animation-delay: 2.5s;
}
#presentation h1:nth-child(3){
    animation: text_review_name 0.5s ease forwards;
    animation-delay: 3.5s;
}
#presentation h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;    
    animation: text_review_box 1s ease;    
    background-color: #FB5607;
}
#presentation h1:nth-child(1) span{
    animation-delay: 1s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 2s;
}
#presentation h1:nth-child(3) span{
    animation-delay: 3s;
}
#presentation .altLang .cta2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    margin: 2px;
    padding: 10px; 
    color: black;
    background-color: transparent;
    border: solid black 1px;
    font-size: 1rem;
    font-weight: 300;
}
#presentation .infoHome .cta{
    display: inline-block;
    padding: 10px 15px;
    margin: 25px 0;  
    color: #FB5607;
    background-color: black;
    border: solid #FB5607 2px;
    font-size: 3rem;
    letter-spacing: .2rem;  
}
#presentation .altLang .cta2:hover{
    font-weight: 600;
    background-color: #f4a261;
    border: none;
}
#presentation .infoHome .cta:hover{
    font-weight: 200;
    color: black;
    background-color: #FB5607;
}
#presentation::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
}

/*SECTION OF PROFILE*/


/*SECTION OF KEYFRAMES PRESENTAION*/
@keyframes text_review_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_review{
    100%{
        color: white;
        text-shadow: 0.5px 0.5px black;
    }
}
@keyframes text_review_name{
    100%{
        color: #FB5607;        
        text-shadow: 1px 1px black;
    }
}